.devPanelContainer {
	position: fixed;
	z-index: 9998;
	border-radius: var(--dev-panel-border-radius);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
	width: var(--dev-panel-max-width);
	max-height: var(--dev-panel-max-height);
	user-select: none;
	font-family: var(--dev-panel-font-family);
	touch-action: none;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--dev-panel-spacing-xs);
		background: var(--dev-panel-foreground-color);
		color: var(--dev-panel-text-color);
		cursor: move;
	}

	.title {
		font-size: var(--dev-panel-font-size-xs);
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: var(--dev-panel-spacing-sm);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.button {
		background: none;
		border: none;
		color: inherit;
		font-size: var(--dev-panel-font-size-sm);
		cursor: pointer;
		padding: var(--dev-panel-spacing-xs) var(--dev-panel-spacing-sm);
		border-radius: 4px;
		transition: all 0.2s ease;

		&:hover {
			background: var(--dev-panel-highlight-color);
			color: #333;
		}

		&:active {
			transform: scale(0.95);
		}

		> svg {
			display: block;
			height: 1rem;
			transition: transform ease 200ms;

			&.collapsed {
				transform: rotate(180deg);
			}

			path {
				fill: currentColor;
			}
		}
	}
}

.content {
	max-height: calc(var(--dev-panel-max-height) - 48px);
	background-color: var(--dev-panel-background-color);

	/* Scrollbar personalizada */
	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: #c1c1c1;
		border-radius: 3px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #a8a8a8;
	}
}
