.container {
	display: grid;
	grid-template-columns: var(--dev-panel-inputs-height) 1fr;
	gap: 8px;

	label {
		overflow: hidden;
		width: auto;
		height: var(--dev-panel-inputs-height);
		cursor: pointer;
		border-radius: var(--dev-panel-border-radius);
	}

	input[type="color"] {
		background: none;
		border: 0;
		width: 150%;
		height: 150%;
		margin: -25%;

		&:focus {
			border-radius: 0;
			outline: none;
		}
	}
}
