.section {
	padding: var(--dev-panel-spacing-sm);
	overflow: hidden;

	&:last-child {
		margin-bottom: 0;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		transition: background 0.2s ease;

		.title {
			font-size: 11px;
			font-weight: 600;
			color: var(--dev-panel-text-color);
		}

		.toggle {
			font-size: 10px;
			color: var(--dev-panel-border-color);
			transition: transform 0.2s ease;
		}
	}

	.content {
		position: relative;
		padding: var(--dev-panel-spacing-sm) 0 0 var(--dev-panel-spacing-sm);
		display: grid;
		grid-template-columns: 100%;
		row-gap: var(--dev-panel-spacing-sm);
		transition: opacity 250ms;

		&:after {
			content: "";
			position: absolute;
			left: 0px;
			bottom: 0px;
			width: 2px;
			height: calc(100% - var(--dev-panel-spacing-sm));
			background-color: var(--dev-panel-border-color);
			transform: translateX(-50%);
		}
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	.section {
		border-color: #555;

		.header {
			border-color: #555;

			.title {
				color: #e0e0e0;
			}
		}

		.toggle {
			color: #b0b0b0;
		}
	}
}
