.switch {
	--width: 42px;
	--height: 20px;
	--thumb-size: 12px;
	--thumb-offset: 3px;
	--thumb-checked-offset: calc(var(--width) - var(--thumb-size) - calc(var(--thumb-offset) * 2) - calc(var(--thumb-offset) / 2));
	--track-background: var(--dev-panel-input-background-color);
	--track-border: color-mix(in srgb, var(--dev-panel-border-color) 50%, transparent);
	--thumb-background: var(--dev-panel-text-color);
	--thumb-checked-background: white;
	--focus-ring-color: var(--dev-panel-accent-color);

	position: relative;
	display: inline-block;
	width: var(--width);
	height: var(--height);

	input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
		margin: 0;
		pointer-events: none;

		&:checked + .slider {
			background-color: var(--focus-ring-color);

			&::before {
				transform: translateX(var(--thumb-checked-offset));
				background-color: var(--thumb-checked-background);
			}
		}

		&:focus + .slider {
			box-shadow: none;
			outline: none;
		}

		&:disabled + .slider {
			opacity: 0.5;
			cursor: not-allowed;

			&::before {
				opacity: 0.7;
			}
		}
	}

	.slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--dev-panel-input-background-color);
		border: 1px solid color-mix(in srgb, var(--dev-panel-border-color) 20%, transparent);
		border-radius: var(--dev-panel-border-radius);
		cursor: pointer;
		transition: var(--dev-panel-transition);

		&::before {
			content: "";
			position: absolute;
			top: var(--thumb-offset);
			left: var(--thumb-offset);
			width: var(--thumb-size);
			height: var(--thumb-size);
			background-color: var(--thumb-background);
			border-radius: calc(var(--dev-panel-border-radius) - 2px);
			transition: var(--dev-panel-transition);
			transform: scale(0.95);
		}

		&:hover {
			border-color: var(--dev-panel-accent-color);

			&::before {
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
			}
		}

		// &:active::before {
		// 	transform: scale(0.95);
		// }
	}
}
